#bgNavs{
  background-image: url('./imgNav/vHeader.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
}
#navsPanel{
  display: flex;
  justify-content: space-around;
}
.brandNav{
  flex-basis: 25%;
  text-align: end;
  color: white;
  flex-shrink: 2;
}
#basic-navbar-nav{
  flex-basis: 30%;
  display: flex;
  justify-content: space-around;
}
.navbar-nav>a{
  margin: 0 10px;
}
.navTextWithAppLinks{
  margin: 10% 0 0 19%;
  width: 35vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
